
.view-openviz-facets {
  .views-row {
    margin-bottom: 30px;
  }

  .views-field-field-ov-thumbnail {
    float: left;
    margin-right: 10px;
  }

  .views-field-field-ov-type {
    margin-bottom: 30px;
  }
  .views-field-nothing {
    float: right;
    // width: 20%;
    // div {
    //   float: right;
    // }
  }
}
