
.main-menu {
  .navbar-nav {
    float: none;
  }
  display: inline-block;
  // margin-left: auto;
  // margin-right: auto;
  // width: 35%;
  // float: center;
}

.search-form {
  float: right;
  display: inline-block;
  input {
    display: inline-block;
  }
}
