
// This hides the visualization data form field on the node edit page
// TODO: need to move into module
#edit-field-ov-visualization-data {
  display: none;
}

#edit-field-ov-type {
  display: none;
}

h1#page-title {
  display: none;
}
