@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/dev\/communitydata\/sites\/all\/themes\/community_data\/scss\/components\/_lists\.scss}line{font-family:\000033}}
.view-openviz-facets .views-row {
  margin-bottom: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/dev\/communitydata\/sites\/all\/themes\/community_data\/scss\/components\/_lists\.scss}line{font-family:\000037}}
.view-openviz-facets .views-field-field-ov-thumbnail {
  float: left;
  margin-right: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/dev\/communitydata\/sites\/all\/themes\/community_data\/scss\/components\/_lists\.scss}line{font-family:\0000312}}
.view-openviz-facets .views-field-field-ov-type {
  margin-bottom: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/dev\/communitydata\/sites\/all\/themes\/community_data\/scss\/components\/_lists\.scss}line{font-family:\0000315}}
.view-openviz-facets .views-field-nothing {
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/dev\/communitydata\/sites\/all\/themes\/community_data\/scss\/components\/_menus\.scss}line{font-family:\000032}}
.main-menu {
  display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/dev\/communitydata\/sites\/all\/themes\/community_data\/scss\/components\/_menus\.scss}line{font-family:\000033}}
  .main-menu .navbar-nav {
    float: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/dev\/communitydata\/sites\/all\/themes\/community_data\/scss\/components\/_menus\.scss}line{font-family:\0000313}}
.search-form {
  float: right;
  display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/dev\/communitydata\/sites\/all\/themes\/community_data\/scss\/components\/_menus\.scss}line{font-family:\0000316}}
  .search-form input {
    display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/dev\/communitydata\/sites\/all\/themes\/community_data\/scss\/components\/_node\.scss}line{font-family:\000034}}
#edit-field-ov-visualization-data {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/dev\/communitydata\/sites\/all\/themes\/community_data\/scss\/components\/_node\.scss}line{font-family:\000038}}
#edit-field-ov-type {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/dev\/communitydata\/sites\/all\/themes\/community_data\/scss\/components\/_node\.scss}line{font-family:\0000313}}
.node-type-ov-visualisation h1#page-title {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/dev\/communitydata\/sites\/all\/themes\/community_data\/scss\/_vizbuilder\.scss}line{font-family:\0000326}}
wizard-progress-bar {
  display: block;
  margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/dev\/communitydata\/sites\/all\/themes\/community_data\/scss\/_vizbuilder\.scss}line{font-family:\0000329}}
  wizard-progress-bar .wizard-box {
    display: inline-block;
    width: 17%;
    height: 40px;
    margin-right: 30px;
    position: relative;
    background-color: #cde1f1;
    color: #3071a9;
    padding: 5px 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/dev\/communitydata\/sites\/all\/themes\/community_data\/scss\/_vizbuilder\.scss}line{font-family:\0000339}}
  wizard-progress-bar .active {
    background-color: #428bca;
    color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/dev\/communitydata\/sites\/all\/themes\/community_data\/scss\/_vizbuilder\.scss}line{font-family:\0000343}}
  wizard-progress-bar .complete {
    background-color: #eeeeee;
    color: #999999; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/dev\/communitydata\/sites\/all\/themes\/community_data\/scss\/_vizbuilder\.scss}line{font-family:\0000347}}
  wizard-progress-bar .wizard-box:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-left-color: #cde1f1;
    border-width: 20px;
    margin-top: -20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/dev\/communitydata\/sites\/all\/themes\/community_data\/scss\/_vizbuilder\.scss}line{font-family:\0000361}}
  wizard-progress-bar .active:after {
    border-left-color: #428bca; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/dev\/communitydata\/sites\/all\/themes\/community_data\/scss\/_vizbuilder\.scss}line{font-family:\0000364}}
  wizard-progress-bar .complete:after {
    border-left-color: #eeeeee; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/dev\/communitydata\/sites\/all\/themes\/community_data\/scss\/_vizbuilder\.scss}line{font-family:\0000369}}
.selected, .selected:hover {
  border: 2px solid red; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/dev\/communitydata\/sites\/all\/themes\/community_data\/scss\/_vizbuilder\.scss}line{font-family:\0000374}}
.viz-builder .label {
  display: inline-block;
  margin-right: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/chris\/dev\/communitydata\/sites\/all\/themes\/community_data\/scss\/_vizbuilder\.scss}line{font-family:\0000381}}
.selected-data .list-group-item {
  padding-bottom: 25px; }

/*# sourceMappingURL=main.css.map */
