<h2>Choose datasets</h2>
<wizard-progress-bar active-step='Datasets'></wizard-progress-bar>
<div class='buttons'>
<a href='#/select-type'>
<div class='btn btn-primary pull-right'>Select visualization type</div>
</a>
</div>
<div class='content'>
<!-- %p Browse datasets: -->
<div class='list-group'>
<div class='list-group-item' ng-repeat="dataset in datatables | orderBy:'label'">
<h4 class='title'>{{dataset.label}}</h4>
<div class='btn btn-success' ng-class='dataset.btnState' ng-click='select(dataset)'>{{ !dataset.selected && 'Select' || 'Remove' }}</div>
<p>Categories:</p>
<!-- .source Source {{dataset.dataSource.url}} -->
</div>
</div>
</div>
<div class='sidebar-right'>
<div class='selected-data'>
<h4>Selected datasets</h4>
<ul ng-repeat='dataset in datatables | filter: {selected: true}'>
<li>
{{dataset.label}}
</li>
</ul>
</div>
</div>
