<h2>Select columns</h2>
<a href='#/visualization'>
<div class='btn btn-primary pull-right'>Plot visualization</div>
</a>
<a href='#/select-type'>
<div class='btn btn-primary'>Back</div>
</a>
<div ng-if='structureAvailable'>
<!-- TODO: datasets array access -->
<div ng-repeat='field in $parent.selectedRenderer.datasets[0].fields'>
<b>{{ field.vizField }}</b>
<div class='list-group'></div>
<a class='list-group-item' ng-class='{active: col.selected[field.vizField]}' ng-click='selectColForField(field, col)' ng-repeat="col in $parent.selectedDataset['structure']['qb:component']">
{{ col['dtbl:fieldRef'] }}
</a>
</div>
<!-- %p -->
<!-- %b X axis -->
<!-- .list-group -->
<!-- %a.list-group-item{"ng-repeat"=>"col in $parent.selectedDataset['structure']['qb:component']", 'ng-click'=>'selectX(col)', 'ng-class'=>'{active: col.selectedX}'} -->
<!-- {{ col['dtbl:fieldRef'] }} -->
<!-- %p -->
<!-- %b Y axis -->
<!-- .list-group -->
<!-- %a.list-group-item{"ng-repeat"=>"col in $parent.selectedDataset['structure']['qb:component']", 'ng-click'=>'selectY(col)', 'ng-class'=>'{active: col.selectedY}'} -->
<!-- {{ col['dtbl:fieldRef'] }} -->
</div>
