<h2>Choose visualisation</h2>
<wizard-progress-bar active-step='Visualization type'></wizard-progress-bar>
<div class='buttons'>
<a href='#/select-columns'>
<div class='btn btn-primary pull-right'>Choose columns</div>
</a>
<a href='#/'>
<div class='btn btn-primary'>Back</div>
</a>
</div>
<div class='explorer'>
<ul>
<li class='renderer' ng-repeat='renderer in renderers'>
<h4>{{ renderer.rendererName }}</h4>
<img ng-class='{selected: renderer.selected}' ng-click='selectRenderer(renderer)' src='{{ $parent.imagePath }}{{ renderer.thumbnail }}'>
</li>
</ul>
<div class='vb-view'></div>
</div>
