<h2>Select columns</h2>
<wizard-progress-bar active-step='select-columns'></wizard-progress-bar>
<div class='buttons'>
<a href='#/visualization'>
<div class='btn btn-primary pull-right' ng-class='{disabled: ! isAllColumnsSelected}'>Plot visualization</div>
</a>
<a href='#/select-type'>
<div class='btn btn-default'>Back</div>
</a>
</div>
<div class='row'>
<!-- %div{'ng-if' => 'structureAvailable'} -->
<!-- TODO: datasets array access -->
<div class='col-md-8' ng-repeat='field in state.renderer.datasets[0].fields'>
<h4>Assign a column to the {{ field.label }} visualization field</h4>
<p>{{field.description}}</p>
<hr>
<div class='list-group'>
<a class='list-group-item' ng-class='{active: col.selected[field.vizField]}' ng-click='selectColForField(field, col)' ng-repeat="col in state.dataset.structure.component | orderBy:'fieldRef'">
{{ col.fieldRef }}
</a>
</div>
<div ng-show='field.needsAggregate'>
<h5>Select aggregation function for this column</h5>
<label class='radio' ng-repeat='method in aggregationMethods'>
<input id='{{method}}' name='inlineRadioOptions' ng-model='state.aggregationMethod' type='radio' value='{{method}}'>{{method}}</input>
</label>
</div>
</div>
</div>
