<wizard-progress-bar active-step='visualization'></wizard-progress-bar>
<div class='buttons'>
<input class='btn btn-primary pull-right' id='edit-submit' name='op' type='submit' value='Add metadata'>
<a href='#/select-columns'>
<div class='btn btn-default'>Back</div>
</a>
</div>
<!-- %h4 Edit the physical attributes of your visualization. -->
<h4>Review your visualization.</h4>
<hr>
<div class='text-center' ng-hide='state.vizRendered'>
<i class='fa fa-spinner fa-spin fa-5x'></i>
<p class='text-center'>Building visualization...</p>
</div>
<div class='visualization' id='visualization' visualization></div>
